<!-- search bar -->
<div class="container search-bar sort-bar function-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/restaurants/search">
        <div class="input-group">
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{ keyword }}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <form class="form-group sort" id="sort" action="/restaurants/sort" method="POST">
    <select class="form-control" id="sortForm" name="sort" onchange="this.form.submit()">
      <option name="0" value="0" {{#if (eq sortOption '0' ) }} selected {{/if}}>選擇排序方式</option>
      <option name="1" value="1" {{#if (eq sortOption '1' ) }} selected {{/if}}>上架時間（新 -> 舊）</option>
      <option name="2" value="2" {{#if (eq sortOption '2' ) }} selected {{/if}}>上架時間（舊 -> 新）</option>
      <option name="3" value="3" {{#if (eq sortOption '3' ) }} selected {{/if}}>按分類排序</option>
      <option name="4" value="4" {{#if (eq sortOption '4' ) }} selected {{/if}}>評價（高 -> 低）</option>
    </select>
  </form>
</div>

<!-- restaurant list -->
<div class="container mt-4">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">

      <div class="card-columns">
        {{#each restaurants}}
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-warning font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <div class="mt-2 d-flex justify-content-end">
                <a class="btn btn-sm btn-outline-success mr-2" href="/restaurants/{{ this._id }}/edit" role="button"><i
                    class="fas fa-edit mr-1"></i>Edit</a>
                <form action="/restaurants/{{ this._id }}/?_method=DELETE" method="POST">
                  <button class="btn btn-sm btn-outline-danger"><i class="fas fa-trash-alt mr-1"></i>Delete</button>
                </form>
              </div>
            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>